node_modules
npm-debug.log
dist
test
test-results
playwright-report
coverage
.git
.gitignore
.github
.env
.env.*
*.md
Dockerfile*
docker-compose*
.dockerignore
.vscode
.idea
.DS_Store
.copilotignore
images
